In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Model').enableHiveSupport().getOrCreate()

23/06/07 01:58:40 WARN Utils: Your hostname, msys-virtual-machine resolves to a loopback address: 127.0.1.1; using 172.30.44.147 instead (on interface ens160)
23/06/07 01:58:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/07 01:58:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.csv(path='file:///home/msys/code/dataset.csv',header=True,inferSchema=True,)

In [3]:
#df.show(3)

In [4]:
df.columns
df=df.drop('_c0','date','unnamed: 0')

In [5]:
null_counts = {column: df.filter(f"`{column}` is null").count() for column in df.columns}
null_counts

{'serial_number': 0,
 'model': 0,
 'capacity_bytes': 0,
 'failure': 0,
 'smart_1_normalized': 8,
 'smart_1_raw': 8,
 'smart_2_normalized': 6434,
 'smart_2_raw': 6434,
 'smart_3_normalized': 35,
 'smart_3_raw': 35,
 'smart_4_normalized': 35,
 'smart_4_raw': 35,
 'smart_5_normalized': 20,
 'smart_5_raw': 20,
 'smart_7_normalized': 35,
 'smart_7_raw': 35,
 'smart_8_normalized': 6434,
 'smart_8_raw': 6434,
 'smart_9_normalized': 4,
 'smart_9_raw': 4,
 'smart_10_normalized': 35,
 'smart_10_raw': 35,
 'smart_11_normalized': 7801,
 'smart_11_raw': 7801,
 'smart_12_normalized': 4,
 'smart_12_raw': 4,
 'smart_13_normalized': 7927,
 'smart_13_raw': 7927,
 'smart_15_normalized': 7929,
 'smart_15_raw': 7929,
 'smart_16_normalized': 7913,
 'smart_16_raw': 7913,
 'smart_17_normalized': 7913,
 'smart_17_raw': 7913,
 'smart_18_normalized': 7657,
 'smart_18_raw': 7657,
 'smart_22_normalized': 7805,
 'smart_22_raw': 7805,
 'smart_23_normalized': 7803,
 'smart_23_raw': 7803,
 'smart_24_normalized': 7803,
 'smart_24_raw': 7803,
 'smart_160_normalized': 7929,
 'smart_160_raw': 7929,
 'smart_161_normalized': 7929,
 'smart_161_raw': 7929,
 'smart_163_normalized': 7929,
 'smart_163_raw': 7929,
 'smart_164_normalized': 7929,
 'smart_164_raw': 7929,
 'smart_165_normalized': 7925,
 'smart_165_raw': 7925,
 'smart_166_normalized': 7925,
 'smart_166_raw': 7925,
 'smart_167_normalized': 7925,
 'smart_167_raw': 7925,
 'smart_168_normalized': 7909,
 'smart_168_raw': 7909,
 'smart_169_normalized': 7925,
 'smart_169_raw': 7925,
 'smart_170_normalized': 7908,
 'smart_170_raw': 7908,
 'smart_171_normalized': 7916,
 'smart_171_raw': 7916,
 'smart_172_normalized': 7916,
 'smart_172_raw': 7916,
 'smart_173_normalized': 7899,
 'smart_173_raw': 7899,
 'smart_174_normalized': 7899,
 'smart_174_raw': 7899,
 'smart_175_normalized': 7928,
 'smart_175_raw': 7928,
 'smart_176_normalized': 7929,
 'smart_176_raw': 7929,
 'smart_177_normalized': 7913,
 'smart_177_raw': 7913,
 'smart_178_normalized': 7929,
 'smart_178_raw': 7929,
 'smart_179_normalized': 7927,
 'smart_179_raw': 7927,
 'smart_180_normalized': 7918,
 'smart_180_raw': 7918,
 'smart_181_normalized': 7927,
 'smart_181_raw': 7927,
 'smart_182_normalized': 7927,
 'smart_182_raw': 7927,
 'smart_183_normalized': 2083,
 'smart_183_raw': 2083,
 'smart_184_normalized': 1864,
 'smart_184_raw': 1864,
 'smart_187_normalized': 1570,
 'smart_187_raw': 1570,
 'smart_188_normalized': 1579,
 'smart_188_raw': 1579,
 'smart_189_normalized': 1878,
 'smart_189_raw': 1878,
 'smart_190_normalized': 1583,
 'smart_190_raw': 1583,
 'smart_191_normalized': 1533,
 'smart_191_raw': 1533,
 'smart_192_normalized': 19,
 'smart_192_raw': 19,
 'smart_193_normalized': 110,
 'smart_193_raw': 110,
 'smart_194_normalized': 4,
 'smart_194_raw': 4,
 'smart_195_normalized': 6596,
 'smart_195_raw': 6596,
 'smart_196_normalized': 6372,
 'smart_196_raw': 6372,
 'smart_197_normalized': 29,
 'smart_197_raw': 29,
 'smart_198_normalized': 24,
 'smart_198_raw': 24,
 'smart_199_normalized': 20,
 'smart_199_raw': 20,
 'smart_200_normalized': 7492,
 'smart_200_raw': 7492,
 'smart_201_normalized': 7927,
 'smart_201_raw': 7927,
 'smart_202_normalized': 7918,
 'smart_202_raw': 7918,
 'smart_206_normalized': 7920,
 'smart_206_raw': 7920,
 'smart_210_normalized': 7920,
 'smart_210_raw': 7920,
 'smart_218_normalized': 7913,
 'smart_218_raw': 7913,
 'smart_220_normalized': 7688,
 'smart_220_raw': 7688,
 'smart_222_normalized': 7688,
 'smart_222_raw': 7688,
 'smart_223_normalized': 7610,
 'smart_223_raw': 7610,
 'smart_224_normalized': 7688,
 'smart_224_raw': 7688,
 'smart_225_normalized': 7854,
 'smart_225_raw': 7854,
 'smart_226_normalized': 7688,
 'smart_226_raw': 7688,
 'smart_230_normalized': 7925,
 'smart_230_raw': 7925,
 'smart_231_normalized': 7913,
 'smart_231_raw': 7913,
 'smart_232_normalized': 7909,
 'smart_232_raw': 7909,
 'smart_233_normalized': 7907,
 'smart_233_raw': 7907,
 'smart_234_normalized': 7922,
 'smart_234_raw': 7922,
 'smart_235_normalized': 7912,
 'smart_235_raw': 7912,
 'smart_240_normalized': 1330,
 'smart_240_raw': 1330,
 'smart_241_normalized': 1554,
 'smart_241_raw': 1554,
 'smart_242_normalized': 1554,
 'smart_242_raw': 1554,
 'smart_244_normalized': 7925,
 'smart_244_raw': 7925,
 'smart_245_normalized': 7927,
 'smart_245_raw': 7927,
 'smart_246_normalized': 7920,
 'smart_246_raw': 7920,
 'smart_247_normalized': 7920,
 'smart_247_raw': 7920,
 'smart_248_normalized': 7920,
 'smart_248_raw': 7920,
 'smart_250_normalized': 7929,
 'smart_250_raw': 7929,
 'smart_251_normalized': 7929,
 'smart_251_raw': 7929,
 'smart_252_normalized': 7929,
 'smart_252_raw': 7929,
 'smart_254_normalized': 7915,
 'smart_254_raw': 7915,
 'smart_255_normalized': 7929,
 'smart_255_raw': 7929}

In [6]:
from pyspark.sql.functions import col

df = df.fillna('null').select([col(c).cast("integer").alias(c) for c in df.columns])
df = df.fillna(0)

In [7]:
#df.show(2)

In [8]:
#df.printSchema()

In [9]:
null_counts = {column: df.filter(f"`{column}` is null").count() for column in df.columns}
#null_counts

In [10]:
from pyspark.ml.feature import VectorAssembler, ChiSqSelector
from pyspark.ml.stat import ChiSquareTest

feature_columns=df.drop('failure').columns

# Assuming your label column is named 'failure'
label_column = 'failure'

# Assemble the feature columns into a vector
assembler = VectorAssembler(inputCols=feature_columns, outputCol='features')
assembled_data = assembler.transform(df)

# Compute chi-squared statistics for feature selection
selector = ChiSquareTest.test(assembled_data, 'features', label_column)
p_values = selector.select('pValues').first()[0]

# Select the top-k features based on p-values
k = 25  # Number of top features to select
selected_features_indices = sorted(range(len(p_values)), key=lambda i: p_values[i])[:k]
selected_feature_columns = [feature_columns[i] for i in selected_features_indices]




selected_feature_columns

['capacity_bytes',
 'smart_1_normalized',
 'smart_2_normalized',
 'smart_2_raw',
 'smart_3_normalized',
 'smart_3_raw',
 'smart_4_raw',
 'smart_5_normalized',
 'smart_5_raw',
 'smart_7_normalized',
 'smart_8_normalized',
 'smart_8_raw',
 'smart_9_normalized',
 'smart_9_raw',
 'smart_12_raw',
 'smart_18_normalized',
 'smart_22_normalized',
 'smart_22_raw',
 'smart_23_normalized',
 'smart_24_normalized',
 'smart_183_normalized',
 'smart_184_normalized',
 'smart_187_normalized',
 'smart_187_raw',
 'smart_188_normalized']

In [11]:
df.count()

7929

In [12]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import GBTClassifier, RandomForestClassifier
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [13]:
selected_features =selected_feature_columns +['failure']
selected_features

['capacity_bytes',
 'smart_1_normalized',
 'smart_2_normalized',
 'smart_2_raw',
 'smart_3_normalized',
 'smart_3_raw',
 'smart_4_raw',
 'smart_5_normalized',
 'smart_5_raw',
 'smart_7_normalized',
 'smart_8_normalized',
 'smart_8_raw',
 'smart_9_normalized',
 'smart_9_raw',
 'smart_12_raw',
 'smart_18_normalized',
 'smart_22_normalized',
 'smart_22_raw',
 'smart_23_normalized',
 'smart_24_normalized',
 'smart_183_normalized',
 'smart_184_normalized',
 'smart_187_normalized',
 'smart_187_raw',
 'smart_188_normalized',
 'failure']

In [14]:
assembler = VectorAssembler(inputCols=selected_features, outputCol='features')

In [15]:
assembled_data = assembler.transform(df[selected_features])
assembler.write().overwrite().save("file:///home/msys/code/assembled")

In [16]:
train_data, test_data = assembled_data.randomSplit([0.5, 0.5], seed=78)

In [17]:
models = [
    GBTClassifier(labelCol='failure', featuresCol='features'),
    RandomForestClassifier(labelCol='failure', featuresCol='features')
]

In [32]:
best_model = None
best_auc = 0.0

for model in models:
    pipeline = Pipeline(stages=[model])
    fitted_model = pipeline.fit(train_data)
    predictions = fitted_model.transform(test_data)
    evaluator = BinaryClassificationEvaluator(labelCol='failure')
    auc = evaluator.evaluate(predictions)
    
    print(f"Model: {model.__class__.__name__}, AUC: {auc}")
    
    if auc > best_auc:
        best_auc = auc
        best_model = fitted_model

Model: GBTClassifier, AUC: 1.0
Model: RandomForestClassifier, AUC: 0.9999999999999999

In [33]:
best_model.stages[0].write().overwrite().save("file:///home/msys/code/model")

In [34]:
from pyspark.ml.classification import GBTClassificationModel

# Load the saved GBTClassifier model
loaded_model = GBTClassificationModel.load("file:///home/msys/code/model")

In [35]:
predictions = loaded_model.transform(test_data)
#print(predictions.show())
# Display the predicted values
final1=predictions.select( 'failure',  'prediction', 'probability','rawPrediction',)
final1.show(5)

+-------+----------+--------------------+--------------------+
|failure|prediction|         probability|       rawPrediction|
+-------+----------+--------------------+--------------------+
|      1|       1.0|[0.04364652142729...|[-1.5435020027249...|
|      1|       1.0|[0.04364652142729...|[-1.5435020027249...|
|      1|       1.0|[0.04364652142729...|[-1.5435020027249...|
|      0|       0.0|[0.95635347857270...|[1.54350200272499...|
|      1|       1.0|[0.04364652142729...|[-1.5435020027249...|
+-------+----------+--------------------+--------------------+
only showing top 5 rows

In [36]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/msys/.local/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/msys/.local/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [38]:
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score, f1_score
from pyspark.sql.types import LongType
from pyspark.sql import Row
import pandas as pd
import openpyxl

# Make predicitons
predictionAndTarget = loaded_model.transform(test_data).select("failure", "prediction")
predictionAndTargetNumpy = np.array((predictionAndTarget.collect()))
acc = accuracy_score(predictionAndTargetNumpy[:,0], predictionAndTargetNumpy[:,1])
f1 = f1_score(predictionAndTargetNumpy[:,0], predictionAndTargetNumpy[:,1])
precision = precision_score(predictionAndTargetNumpy[:,0], predictionAndTargetNumpy[:,1])
recall = recall_score(predictionAndTargetNumpy[:,0], predictionAndTargetNumpy[:,1])
auc = roc_auc_score(predictionAndTargetNumpy[:,0], predictionAndTargetNumpy[:,1])
print(acc,precision,recall,f1,auc) # GBTClassifier

#STEP-13 predictions with validation data 
predictions = loaded_model.transform(test_data)
final1=predictions.select('failure','prediction', 'rawPrediction', 'probability')

def zipindexdf(df):
    schema_new = df.schema.add("index", LongType(), False)
    return df.rdd.zipWithIndex().map(lambda l: list(l[0]) + [l[1]]).toDF(schema_new)

#validation_serial_number_index = zipindexdf(validation_serial_number)
final1_index = zipindexdf(final1)
#final1_model_results = validation_serial_number_index.join(final1_index, "index", "inner")
final1_model_results = final1_index.withColumnRenamed("rawPrediction", "Confidence_Level")
final1_model_results.show()

# STEP-14 Download the predictions results
pandasDF = final1_model_results.toPandas()
pandasDF.failure.replace((0, 1), ('Active', 'fail'), inplace=True)
pandasDF.prediction.replace((0, 1), ('Active', 'Predicted_to_be_fail'), inplace=True)
pandasDF['Confidence_Level'] = pandasDF['Confidence_Level'].astype('str')
pandasDF['probability'] = pandasDF['probability'].astype('str')
Confidence_Level=pandasDF['Confidence_Level'].str.split(',', expand=True)
pandasDF = pandasDF.join(Confidence_Level).drop(1, axis=1)
pandasDF = pandasDF.drop('Confidence_Level', axis=1)
pandasDF.rename(columns = {0:'Confidence_Level'}, inplace = True)
probability1=pandasDF['probability'].str.split(',', expand=True)
probability1.rename(columns = {0:'Active_Probability'}, inplace = True)
probability1.rename(columns = {1:'Failure_Probability'}, inplace = True)
pandasDF = pandasDF.join(probability1)
pandasDF = pandasDF.drop(['probability'], axis=1)
pandasDF = pandasDF.drop(['index'],axis=1)
pandasDF.rename(columns = {'serial_number':'Serial_Number'}, inplace = True)
pandasDF.rename(columns = {'model':'Model'}, inplace = True)
pandasDF.rename(columns = {'label':'Actaul'}, inplace = True)
pandasDF.rename(columns = {'prediction':'Prediction'}, inplace = True)
pandasDF=pandasDF.replace('\]','',regex=True).astype(str)
pandasDF=pandasDF.replace('\[','',regex=True).astype(str)
pandasDF.sort_values(by=['Prediction'], inplace=True, ascending=False)
pandasDF.sort_values(by=['Active_Probability'], inplace=True)
# download csv file 

pandasDF.to_csv(r'file:///home/msys/code/prediction_results.csv')
# download excel file 

pandasDF

1.0 1.0 1.0 1.0 1.0

+-------+----------+--------------------+--------------------+-----+
|failure|prediction|    Confidence_Level|         probability|index|
+-------+----------+--------------------+--------------------+-----+
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|    0|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|    1|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|    2|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|    3|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|    4|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|    5|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|    6|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|    7|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|    8|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|    9|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|   10|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|   11|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|   12|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|   13|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|   14|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|   15|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|   16|
|      1|       1.0|[-1.5435020027249...|[0.04364652142729...|   17|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|   18|
|      0|       0.0|[1.54350200272499...|[0.95635347857270...|   19|
+-------+----------+--------------------+--------------------+-----+
only showing top 20 rows

,failure,Prediction,Confidence_Level,Active_Probability,Failure_Probability
789,fail,Predicted_to_be_fail,-1.543502002724985,0.04364652142729305,0.9563534785727069
2158,fail,Predicted_to_be_fail,-1.543502002724985,0.04364652142729305,0.9563534785727069
1069,fail,Predicted_to_be_fail,-1.543502002724985,0.04364652142729305,0.9563534785727069
2727,fail,Predicted_to_be_fail,-1.543502002724985,0.04364652142729305,0.9563534785727069
3233,fail,Predicted_to_be_fail,-1.5435020027249848,0.04364652142729307,0.9563534785727069
...,...,...,...,...,...
3783,Active,Active,1.5435020027249933,0.9563534785727076,0.04364652142729242
3784,Active,Active,1.5435020027249933,0.9563534785727076,0.04364652142729242
3508,Active,Active,1.5435020027249933,0.9563534785727076,0.04364652142729242
3774,Active,Active,1.5435020027249933,0.9563534785727076,0.04364652142729242
3926,Active,Active,1.5435020027249928,0.9563534785727076,0.04364652142729242

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 51100)
Traceback (most recent call last):
  File "/usr/lib/python3.8/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.8/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.8/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.8/socketserver.py", line 747, in __init__
    self.handle()
  File "/home/msys/.local/lib/python3.8/site-packages/pyspark/accumulators.py", line 281, in handle
    poll(accum_updates)
  File "/home/msys/.local/lib/python3.8/site-packages/pyspark/accumulators.py", line 253, in poll
    if func():
  File "/home/msys/.local/lib/python3.8/site-packages/pyspark/accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "/home/msys/.local/lib/python3.8/site-packages/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------

In [24]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Create an evaluator for multi-class classification
evaluator = MulticlassClassificationEvaluator(labelCol='failure', predictionCol='prediction', metricName='accuracy')

# Calculate the accuracy
accuracy = evaluator.evaluate(predictions)
print('Accuracy:', accuracy)

# Create a confusion matrix
confusion_matrix = predictions.groupBy('failure', 'prediction').count().orderBy('failure', 'prediction')
confusion_matrix.show()

Accuracy: 0.7629233511586453
+-------+----------+-----+
|failure|prediction|count|
+-------+----------+-----+
|      0|       0.0| 2870|
|      0|       1.0|  622|
|      1|       0.0|  309|
|      1|       1.0|  126|
+-------+----------+-----+

In [25]:
from pyspark.sql.functions import monotonically_increasing_id
result = test_data['smart_3_raw', 'smart_2_raw']
res1=predictions.select('failure', 'prediction')
# Add a unique identifier column to each DataFrame
df1 = result.withColumn('id', monotonically_increasing_id())
df2 = res1.withColumn('id', monotonically_increasing_id())

# Perform an inner join on the 'id' column
concatenated_df = df1.join(df2, 'id', 'inner').drop('id')

In [26]:
concatenated_df.show()

+-----------+-----------+-------+----------+
|smart_3_raw|smart_2_raw|failure|prediction|
+-----------+-----------+-------+----------+
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      0|       0.0|
+-----------+-----------+-------+----------+
only showing top 20 rows

In [27]:
concatenated_df.show()

+-----------+-----------+-------+----------+
|smart_3_raw|smart_2_raw|failure|prediction|
+-----------+-----------+-------+----------+
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      1|       0.0|
|          0|          0|      0|       0.0|
|          0|          0|      0|       0.0|
+-----------+-----------+-------+----------+
only showing top 20 rows

In [28]:
pdf = concatenated_df.toPandas()
pdf

      smart_3_raw  smart_2_raw  failure  prediction
0               0            0        1         0.0
1               0            0        1         0.0
2               0            0        1         0.0
3               0            0        0         0.0
4               0            0        1         0.0
...           ...          ...      ...         ...
3922         1316            0        0         0.0
3923         1266            0        0         0.0
3924         1275            0        0         0.0
3925         1300            0        0         0.0
3926         1250            0        0         0.0

[3927 rows x 4 columns]

In [29]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (2.0.15)
Requirement already satisfied: greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) in /usr/local/lib/python3.8/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/msys/.local/lib/python3.8/site-packages (from sqlalchemy) (4.6.2)

In [30]:
import pandas as pd
from sqlalchemy import create_engine
"""
db_username = 'postgres'
db_password = 'Vijay2590'
db_host = 'postgresql.cf4zunotlmzs.eu-north-1.rds.amazonaws.com'
db_port = '5432'
db_name = 'test'


connection_string = f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_string)
table_name = 'lenovo'  
# dt.to_sql('employees', engine)

pdf.to_sql(table_name, engine, if_exists='append', index=False)

"""
# Connect to the PostgreSQL database
engine = create_engine('postgresql://postgres:1234@localhost/lenovo')
# Convert DataFrame to a PostgreSQL table
table_name = 'lenovo_result'
pdf.to_sql(table_name, engine, if_exists='replace', index=False)

# Optional: Close the database connection
engine.dispose()

In [31]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to the PostgreSQL database
engine = create_engine('postgresql://postgres:1234@localhost/lenovo')

# Specify the query to retrieve data
query = 'SELECT * FROM lenovo_result'

# Read data from PostgreSQL into a DataFrame
result = pd.read_sql(query, engine)

# Optional: Close the database connection
engine.dispose()

# Display the DataFrame
result

      smart_3_raw  smart_2_raw  failure  prediction
0               0            0        1         0.0
1               0            0        1         0.0
2               0            0        1         0.0
3               0            0        0         0.0
4               0            0        1         0.0
...           ...          ...      ...         ...
3922         1316            0        0         0.0
3923         1266            0        0         0.0
3924         1275            0        0         0.0
3925         1300            0        0         0.0
3926         1250            0        0         0.0

[3927 rows x 4 columns]

In [1]:
import pandas as pd
df = pd.read_csv('../MSys_Demo_App/staticFile/')